* {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.botoes {
    margin: auto;
    width: 50%;
}

.numeros {
    margin: auto;
    width: 50%;
}

.resultado {
    margin: auto;
    width: 50%;
}

.resultado textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#resultado {
    margin: auto;
    width: 50%;
}