* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 40px;
}

.corpo {
    display: flex;
    justify-content: center;
}

form {
    margin-bottom: 30px;
}

form input {
    font-size: 20px;
    padding: 5px 5px 5px 5px;

}

form button {
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    padding: 5px 5px 5px 5px;
}

.tarefas-bloco {
    justify-content: center;
    display: flex;
}

.tarefas {
    margin: auto;
}